html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

    background-color: white;
}

/* For Mobile */
@media screen and (max-width: 650px) {
  .container {
    padding-top: 80px;
  }

  .slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: 1s;
    overflow:hidden;
    height: 55vw;
  }

  .slider-nav a {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.8;
    transition: opacity ease 250ms;
  }

  .slider-arrow {
    font-size: 4vw;
    color: white;
    opacity: 0.7;
    transition: opacity ease 250ms;
  }

  .footer {
    height: 180vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Blinker';
    font-size: 1rem;
    overflow: hidden;
    background-image: url('../public/mobile-polygons.png');
    background-size: 100%;
    background-position-y: -1vw;
  }

  .footer-location {
    height: 20vw;
    width: 100vw;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-bottom: 5vw;
    font-size: 6vw;
    text-shadow: 0px 0px 15px black;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .footer-social {
    font-size: 4vh;
    text-align: center;
    margin-bottom: 7vw;
  }

  .social {
    font-size: 10vw;
    margin-right: 20px;
    margin-left: 20px;
  }

  .footer-explore {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 6vw;
    height: 20vw;
    width: 100vw;
    margin-bottom: 34vw;
    margin-top: 50vw;
    text-shadow: 0px 0px 15px black;
  }

  .main-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .SAE {
    color: white;
    background-color: #ff6600;
    margin-top: 7vw;
    margin-left: 24.9vw;
    font-size: 5vw;
    border-radius: 15px;
    width: 30vw;
    height: 10vw;
    font-family: 'Blinker'
  }
  
  .bio-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: black;
    font-family: 'Blinker';
    flex-direction: column;
    align-items: flex-start;
    transition: ease;
    animation: 2s slide-up;
  }

  .copyright {
    font-size: 3.5vw;
    margin-bottom: 5vw;
    text-shadow: 0px 0px 15px black;
  }

  h4 {
    font-size: 8vw;
  }

  h5 {
    font-size: 6vw;
    font-weight: bold;
    visibility: hidden;
  }

  p {
    font-size: 5vw;
  }

  hr.new1 {
    border: 1px solid #ffb000;
    margin-bottom: 10px;
    align-self: center;
    width: 100%;
  }

  hr.new2 {
    border: 1px solid #ffb000;
    margin-top: 10px;
    align-self: center;
    width: 100%;
  }

  hr.new3 {
    visibility: hidden;
  }

  hr.new4 {
    visibility: hidden;
  }

  hr.new5 {
    border: 1px solid white;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    align-self: center;
    visibility: hidden;
  }

  hr.new6 {
    border: 1px solid white;
    width: 28vw;
    margin-top: 5px;
    margin-bottom: 10px;
    align-self: center;
  }

  iframe {
    height: 45vw;
    width: 80vw;
  }

  .tagline {
    position: absolute;
    font-size: 8.5vw;
    font-family: 'Blinker';
    font-weight: bold;
    text-shadow: 0 1px 20px black;
    color: white;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
    top: 28%;
    z-index: 1;
  }

  .sponsor-container {
    display: flex;
    flex-direction: column;
    background-color: gray;
    align-items: center;
    height: 80vw;
    padding-top: 3vw;
    padding-bottom: 2vw;
    margin-bottom: -48vw;
  }

  .sponsor-header {
    color: white;
    font-family: 'Blinker';
    font-size: 7vw;
    font-weight: bold;
  }

  .sponsor-content {
    width: 80vw;
    margin-right: 1vw;
  }

  .sponsors {
    width: 0;
  }

  .tenacity-container {
    display: flex;
    height: 120vw;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    margin-bottom: -48vw;
  }

  .framed-wall {
    display: flex;
  }

  .tenacity {
    height: 80vw;
    margin-top: -20vw;
    margin-right: 6vw;
    margin-left: 6vw;
    box-shadow: 0px 8px 8px grey;
  }

  /* removed in mobile view */
  .framed {
    height: 0;
  }
}

/* For Desktop */
@media screen and (min-width: 650px) {
  .container {
    padding-top: 120px;
  }

  .slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: 1s;
    overflow:hidden;
    height: 22vw;
  }

  .slider-nav a {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.8;
    transition: opacity ease 250ms;
  }

  .slider-arrow {
    font-size: 3vh;
    color: white;
    opacity: 0.7;
    transition: opacity ease 250ms;
  }

  .footer {
    height: 31vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-family: 'Blinker';
    font-size: 1.5vw;
    background-image: url('../public/polygons.png');
    background-size: 100%;
    background-position-y: -1vw;
    margin-top: -4vw;
  }

  .footer-location {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 22vw;
    text-shadow: 0px 0px 10px black;
  }

  .footer-social {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 13vw;
    text-shadow: 0px 0px 10px black;
  }

  .footer-explore {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 8vw;
    text-shadow: 0px 0px 10px black;
  }

  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 7vw;
  }

  .social {
    font-size: 2.5vw;
    margin-right: 1.5vw;
    margin-top: 5px;
  }

  .copyright {
    font-size: 1.2vw;
    text-shadow: 0px 0px 10px black;
  }

  .main-container {
    display: flex;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .SAE {
    color: white;
    background-color: #ff6600;
    margin-top: 2vw;
    margin-left: 11.1vw;
    font-size: 1.4vw;
    border-radius: 15px;
    width: 10vw;
    height: 3vw;
    font-family: 'Blinker'
  }
  
  .bio-container {
    display: flex;
    padding-left: 50px;
    margin-top: -10px;
    color: black;
    font-family: 'Blinker';
    flex-direction: column;
    align-items: flex-start;
    transition: ease;
    animation: 2s slide-up;
  }

  .projects-container {
    color: black;
    font-family: 'Blinker';
    
  }

  h4 {
    font-size: 3vw;
  }

  h5 {
    font-size: 2vw;
    font-weight: bold;
  }

  p {
    font-size: 1.5vw;
  }

  hr.new1 {
    border: 1px solid #ffb000;
    margin-bottom: 10px;
    width: 15vw;
  }

  hr.new2 {
    visibility: hidden;
  }

  hr.new3 {
    border: 1px solid white;
    width: 6.2vw;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px black;
  }

  hr.new4 {
    border: 1px solid white;
    width: 7.4vw;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px black;
  }

  hr.new5 {
    border: 1px solid white;
    width: 5.8vw;
    margin-top: 5px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 10px black;
  }

  hr.new6 {
    border: 1px solid white;
    width: 11vw;
    margin-top: 2.5vw;
    margin-bottom: -1vw;
  }

  iframe {
    height: 18vw;
    width: 32vw;
  }

  .tagline {
    position: absolute;
    font-size: 5vw;
    font-family: 'Blinker';
    font-weight: bold;
    text-shadow: 0 4px 15px black;
    color: white;
    top: 35%;
    z-index: 1;
  }

  .image-container {
    padding-top: 120px;
  }

  .image {
    height: 22vw;
    object-fit: cover;
    width: 100%;
  }

  .sponsor-container {
    display: flex;
    flex-direction: column;
    background-color: gray;
    align-items: center;
    margin-top: -1.4vw;
    padding-top: 1vw;
    margin-bottom: -7.2vw;
  }

  .sponsor-header {
    color: white;
    font-family: 'Blinker';
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: -2.5vw;
  }

  .sponsor-content {
    width: 60vw;
    margin-right: 1vw;
  }

  .sponsors-mobile {
    width: 0;
  }

  .tenacity-container {
    display: flex;
    height: 30vw;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    margin-bottom: -7.2vw;
  }

  .framed-wall {
    display: flex;
  }

  .tenacity {
    height: 20vw;
    margin-top: -3vw;
    margin-right: 6vw;
    margin-left: 6vw;
    box-shadow: 0px 8px 8px grey;
  }

  .framed {
    height: 15vw;
    margin-top: -1vw;
    box-shadow: 0px 8px 8px grey;
  }

  .projects-container {
    display: flex;
    height: 80vw;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    margin-bottom: -7.2vw;
  }

  .project-grid {
    margin-top: -8vw;
    max-width: 1200px;
    display: grid;
    column-gap: 7.5vw;
    row-gap: 10vw;
    grid-template-columns: repeat(3, 1fr);
  }
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  max-height: 530px;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider-left {
  display: flex;
  position: absolute;
  left: 5vw;
  top: 48%;
}

.slider-right {
  display: flex;
  position: absolute;
  right: 5vw;
  top: 48%;
}

.tagline-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.slider-arrow:hover {
  opacity: 1;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from { 
    opacity: 0; 
    margin-top: 50px;
  }
  to { 
    opacity: 1; 
    margin-top: 0px;
  }
}